<!-- CAROUSEL SECTION -->
<div id="owl-carousel-1" class="owl-carousel owl-theme center-owl-nav">
	{{> index/carousel}}
</div>
<!-- /CAROUSEL SECTION -->

<!-- FEATURED SECTION -->
<div class="section">
	{{> index/featured}}
</div>
<!-- /FEATURED SECTION -->

<!-- AD SECTION -->
<div class="visible-lg visible-md">
	<img class="center-block" src="./img/ad-3.jpg" alt="">
</div>
<!-- /AD SECTION -->

<!-- BIG ISSUES SECTION -->
<div class="section">
	{{> index/bigissues}}
</div>
<!-- /BIG ISSUES SECTION -->

<!-- BUSINESS, POLITICS & WORLD SECTION -->
<div class="section">
	<div class="container">
		<div class="row">
			<!-- Main Column -->
			<div class="col-md-8">
				<!-- BUSINESS & POLITICS SECTION -->
				<div class="row">
					<!-- BUSINESS SECTION -->
					{{> index/business}}
					<!-- /BUSINESS SECTION -->
					<!-- POLITICS SECTION -->
					{{> index/politics}}
					<!-- /POLITICS SECTION -->
				</div>
				<!-- /BUSINESS & POLITICS SECTION -->

				<!-- WORLD SECTION -->
				<div>
					{{> index/world}}
				</div>
				<!-- /WORLD SECTION -->
			</div>
			<!-- /Main Column -->
			<!-- Side Column -->
			<div class="col-md-4">
				{{> index/sidecolumn}}
			</div>
			<!-- /Side Column -->
		</div>
	</div>
</div>
<!-- /SECTION -->

<!-- AD SECTION -->
<div class="visible-lg visible-md">
	<img class="center-block" src="./img/ad-3.jpg" alt="">
</div>
<!-- /AD SECTION -->

<!-- LATEST VIDEO SECTION -->
<div class="section">
	<div class="container">
		<div class="row">
			{{> index/latestvideo}}
		</div>
	</div>
</div>
<!-- /LATEST VIDEO SECTION -->

<!-- ENTERTAINMENT & SPORTS SECTION -->
<div class="section">
	<div class="container">
		<div class="row">
			<!-- ENTERTAINMENT SECTION -->
			<div class="col-md-8">
				{{> index/entertainment}}
			</div>
			<!-- /ENTERTAINMENT SECTION -->
			<!-- SPORTS SECTION -->
			<div class="col-md-4">
				{{> index/sports}}
			</div>
			<!-- /SPORTS SECTION -->
		</div>
	</div>
</div>
<!-- /ENTERTAINMENT & SPORTS SECTION -->